<%- include('partials/header.ejs') %> 
<%- include('partials/navbarAdmin.ejs') %>

<main class="min-h-screen bg-[var(--color-fondo-principal)] text-[var(--color-texto-principal)] p-6">
  <h1 class="text-2xl font-bold mb-6">Access Logs</h1>
</main>

<%- include('partials/footer.ejs') %>