<%- include('partials/header.ejs') %>
<%- include('partials/navbarAdmin.ejs') %>

<main class="text-center text-white p-6">
  <h1 class="text-2xl font-bold">Bienvenido, <%= user.full_name %></h1>
  <p class="mt-2">Estás en el panel de administración.</p>
</main>
<%- include('partials/footer.ejs') %>